.forget-top{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forget-top p{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.forget-midd{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
}
