.sectionOne {
  width: 100%;
  height: 69.9px;
  display: flex;
  background-color: #FFFFFF;
}

.logo-parent{
  width: 30%;
  height: 69.9px;
}

.logo-box{
  width: 220px;
  height: 69.9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo{
  width: 110px;
  height: 61px;
  object-fit: cover;
  cursor: pointer;
}

.parent-search{
  width: 40%;
  height: 69.9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inp-box {
  width: 55%;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-search {
  border: none;
  outline: none;
  width: 337px;
  height: 40px;
  padding-left: 21px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  border-top-left-radius: 25px;
  border-top: solid .5px #cecece;
  border-bottom: solid .5px #cecece;
  border-left: solid .5px #c0c0c0;
  border-bottom-left-radius: 25px;
  background-color: #ebe8e8;
}

.global-search::-moz-placeholder {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  color: #BABABA;
}

.global-search::placeholder {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  color: #8d8d8d;
}

/* icon */
.icon-global-search-box {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #C10016;
}

.icon-global-search-box:hover {
  background-color: #950012;
  transition: 0.5s;
}

.icon-global-search {
  color:white;
}

.icon-global-search:hover {
  transform: scale(1.1);
  transition: 0.5s;
  rotate: 15deg;
}

.Sign-box{
  width: 30%;
  height: 69.9px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.link-to{
  text-decoration: none;
}

.signin-text{
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-right: 60px;
  color: #696969;
  text-decoration: none;
}

.signin-text:hover{
  color: #1c1c1c;
}